{% extends "layouts/base.html" %}


{% block contenido %}

<main class="container">
    <section>
        <h1 class="text-center py-5">Perfil de usuario: ({{usuario.id}})-{{usuario.username}}</h1>
    </section>
    <section>
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-lg-4">
                <form method="post">
                    {% comment %} <div>
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" value="{{usuario.first_name}}">
                    </div> {% endcomment %}
                    {% csrf_token %}
                    <fieldset>
                        <legend>Datos de usuario:</legend> 
                        {{form_usuario}}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Datos de perfil:</legend> 
                        {{form_perfil}}
                    </fieldset>
                    <input type="submit" value="Actualizar" class="btn btn-warning">
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock contenido %}