{% extends "layouts/base.html" %}

{% block contenido %}
    <style>
        #lista_cursos .card img {
            width: 100%;
            aspect-ratio: 1/1;
        }
    </style>

    <header>
        <h1 class="text-center py-3">Listado de cursos (Cantidad: {{cantidad_cursos}})</h1>
    </header>
    
    <main class="container py-5">
        <section id="lista_cursos">
            <h2>Cursos...</h2>

            <div class="row justify-content-evenly g-3">
                {% for curso in cursos %}
                <div class="col-12 col-sm-4 col-lg-3">
                        {% include "partials/tarjeta_curso.html" with curso=curso%}
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock contenido %}