{% extends "layouts/base.html" %}

{% block contenido %}

    <header>
        <h1 class="text-center py-3">Detalle del curso: {{curso.nombre}}</h1>
    </header>

    <main class="container py-5">
        <section id="detalle_curso">
            <h3>Descripción: {{curso.descripcion}}</h3>

            <div class="row justify-content-center">
                <div class="col-12 col-sm-4">
                    <img src="{{curso.imagen}}" alt="{{curso.nombre}}" class="img-fluid">
                </div>
            </div>

            <div>
                {% include 'partials/tabla_estudiantes.html' with estudiantes=curso.estudiantes.all %}
            </div>
            
        </section>

    </main>
{% endblock contenido %}